@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: #e0f7d9;
}

::-webkit-scrollbar-thumb {
    background: #7fc66b;
    border-radius: 24px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #e0f7d9;
    height: 100%;
    margin: 0;
}